* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  height: 8090rem;
}

body .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body section {
  padding: 2rem 0;
}

body .button {
  font-size: 1.143rem;
  background: #19b5fe;
  border: none;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 35px;
  font-family: 'Roboto Medium';
  cursor: pointer;
}

body ul {
  list-style: none;
}

body .section-title {
  font-family: 'Roboto Thin';
  font-size: 2.5rem;
  color: #363636;
  border-bottom: 1px solid #19b5fe;
  padding-bottom: 1rem;
  text-align: center;
  width: 25%;
  margin: auto;
  margin-bottom: 3rem;
}

body a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body .header {
  background: url(../img/header-bg.jpg) no-repeat center;
  padding: 3rem 0;
  color: #fff;
}

body .header .container .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

body .header .container .header-top .header-logo {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

body .header .container .header-top .header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .container .header-top .header-phone p {
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 0.5rem;
}

body .header .container .header-top .header-phone p strong {
  font-weight: 500;
}

body .header .container .header-top .header-hamburger {
  width: 40px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
}

body .header .container .header-top .header-hamburger .text {
  margin-top: 1.7rem;
}

body .header .container .header-top .header-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

body .header .container .header-top .header-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body .header .container .header-top .header-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body .header .container .header-top .header-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

body .header .container .header-top .header-hamburger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

body .header .container .header-top .header-hamburger span:nth-child(1) {
  top: 0px;
}

body .header .container .header-top .header-hamburger span:nth-child(2), body .header .container .header-top .header-hamburger span:nth-child(3) {
  top: 9px;
}

body .header .container .header-top .header-hamburger span:nth-child(4) {
  top: 18px;
}

body .header .container .header-content {
  text-align: center;
}

body .header .container .header-content .header-title {
  font-size: 3.429rem;
  margin-bottom: 2rem;
}

body .header .container .header-content .header-subtitle {
  font-size: 1.571rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

body .header .container .header-content .header-form form {
  border: 1px solid #fff;
  margin: 0 15% 3rem;
}

body .header .container .header-content .header-form .form-input {
  border: none;
  padding: 1rem 7rem 1rem 2rem;
  border-radius: 35px;
  color: #606060;
  margin-bottom: 1rem;
  font-family: 'Roboto Thin';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .header .container .header-content .header-form .form-input:nth-child(2) {
  margin-left: 2rem;
  margin-right: 2rem;
}

body .header .container .header-content .header-form .form-button {
  display: block;
  margin: auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

body .header .container .header-content .header-policy {
  font-size: 1rem;
  font-family: 'Roboto Thin';
  margin-bottom: 3rem;
}

body .header .container .header-content .header-scroll {
  -webkit-animation: opacity 3s infinite ease;
          animation: opacity 3s infinite ease;
  -webkit-animation-direction: initial;
          animation-direction: initial;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body main .services {
  color: #464646;
}

body main .services .container .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .services .container .services-list .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 16%;
}

body main .services .container .services-list .service-text {
  text-align: left;
  margin-right: 2rem;
  font-size: 1.2rem;
}

body main .services .container .services-list .service-text h4 {
  color: #19b5fe;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

body main .services .container .services-list .service-text p {
  font-weight: 300;
  margin-bottom: 1rem;
}

body main .services .container .services-list .service:nth-child(2) .service-text {
  margin: 0 0 0 2rem;
}

body main .rates {
  background: url(../img/rates/bg.jpg) no-repeat center top;
  color: #fff;
}

body main .rates .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .rates .container .section-title {
  color: #fff;
  border-bottom-color: #fff;
  margin-bottom: 1rem;
}

body main .rates .container .section-subtitle {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 5rem;
}

body main .rates .container .price-choosing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .rates .container .price-choosing .calculator p {
  font-size: 1.429rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

body main .rates .container .price-choosing .calculator .area-range,
body main .rates .container .price-choosing .calculator .set-range {
  border: 1px solid #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
}

body main .rates .container .price-choosing .calculator .area-range {
  margin-bottom: 1rem;
}

body main .rates .container .price-choosing .calculator .area-range .labels {
  font-size: 1.143rem;
  font-weight: 300;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .rates .container .price-choosing .calculator .area-range .labels label {
  min-width: 93px;
  text-align: right;
}

body main .rates .container .price-choosing .calculator .area-range .labels label:first-child, body main .rates .container .price-choosing .calculator .area-range .labels label:last-child {
  text-align: unset;
}

body main .rates .container .price-choosing .calculator .area-range .labels label:nth-child(2) {
  text-align: unset;
}

body main .rates .container .price-choosing .calculator .area-range .labels label:last-child {
  text-align: right;
}

body main .rates .container .price-choosing .calculator .area-range .area-input {
  -webkit-appearance: none;
  width: 43rem;
  height: 0.6rem;
  background: #fff;
  border-radius: 30px;
  outline: none;
  opacity: 1;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

body main .rates .container .price-choosing .calculator .area-range .area-input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

body main .rates .container .price-choosing .calculator .set-range__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .rates .container .price-choosing .calculator .set-range__options .set-button {
  padding: 1rem 5rem;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-size: 1.143rem;
  font-family: 'Roboto Medium';
  outline: none;
}

body main .rates .container .price-choosing .calculator .set-range__options .set-button__chosen {
  border-color: transparent;
  background: #19b5fe;
}

body main .rates .container .price-choosing .prices {
  margin-left: 8rem;
  text-align: center;
}

body main .rates .container .price-choosing .prices div {
  margin-bottom: 1rem;
}

body main .rates .container .price-choosing .prices p {
  font-size: 1.143rem;
}

body main .rates .container .price-choosing .prices strong {
  font-size: 2.286rem;
}

body main .portfolio .container .portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
}

body main .portfolio .container .portfolio-filter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #19b5fe;
  border-radius: 40px;
  max-height: 47px;
}

body main .portfolio .container .portfolio-filter ul li {
  text-transform: uppercase;
  border-right: 1px solid #19b5fe;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #19b5fe;
  max-height: 45px;
}

body main .portfolio .container .portfolio-filter ul li:last-child {
  border-right: none;
}

body main .portfolio .container .portfolio-filter ul .active {
  text-transform: uppercase;
  border-right: 1px solid #19b5fe;
  padding: 1rem 3rem;
  cursor: pointer;
  max-height: 45px;
  background: #19b5fe;
  color: #fff;
}

body main .portfolio .container .portfolio-filter ul .active-left {
  text-transform: uppercase;
  border-right: 1px solid #19b5fe;
  padding: 1rem 3rem;
  cursor: pointer;
  max-height: 45px;
  background: #19b5fe;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

body main .portfolio .container .portfolio-filter ul .active-right {
  text-transform: uppercase;
  border-right: 1px solid #19b5fe;
  padding: 1rem 3rem;
  cursor: pointer;
  max-height: 45px;
  background: #19b5fe;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

body main .portfolio .container .portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body main .portfolio .container .portfolio-list__item {
  margin: 1rem 3rem;
  cursor: pointer;
}

body main .advantages {
  background: #f2f8f9;
}

body main .advantages .container .advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .advantages .container .advantages-list .advantage-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  max-width: 360px;
  margin-bottom: 1rem;
}

body main .advantages .container .advantages-list .advantage-item .advantage-image {
  border-bottom: 1px solid #19b5fe;
  min-height: 70px;
}

body main .advantages .container .advantages-list .advantage-item p {
  min-height: 34px;
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #3f3f3f;
  padding: 0 1.7rem;
}

body main .interaction {
  padding: 5rem 0;
}

body main .interaction .container .section-title {
  width: 26%;
}

body main .interaction .container .interaction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 68%;
  margin: auto;
}

body main .interaction .container .interaction-list .interaction-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .interaction .container .interaction-list .interaction-item__text {
  font-size: 2.143rem;
  color: #464646;
  font-weight: 300;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */