@media (max-width: 1201px) {
  body main .rates {
    background: #363636;
  }
  body main .rates .container .price-choosing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .rates .container .price-choosing .calculator {
    margin-bottom: 20px;
  }
  body main .rates .container .price-choosing .prices {
    margin: 0;
  }
  body main .companies-slider .container .slider-window {
    max-width: 690px;
  }
  body main .questions {
    background: #363636;
  }
  body main .questions .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .questions .container .info .form-button {
    margin-bottom: 20px;
  }
  body main .questions .container .info-contacts {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 901px) {
  body .section-title {
    width: 90% !important;
  }
  body .header {
    padding: 10px 0 2rem;
  }
  body .header .container .header-top .header-phone {
    display: none;
  }
  body main .services .container .services-list .service {
    margin-bottom: 20px;
  }
  body main .services .container .services-list .service-text {
    text-align: center;
  }
  body main .services .container .services-list .service-image {
    display: none;
  }
  body main .rates .container .price-choosing .calculator p {
    font-size: 17px;
  }
  body main .rates .container .price-choosing .calculator .area-range .labels {
    display: none;
  }
  body main .rates .container .price-choosing .calculator .area-range .area-input {
    display: none;
  }
  body main .rates .container .price-choosing .calculator .area-range .area-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .rates .container .price-choosing .calculator .set-range__options .set-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  body main .rates .container .price-choosing .prices p {
    font-size: 18px;
  }
  body main .rates .container .price-choosing .prices strong {
    font-size: 20px;
  }
  body main .rates .container .price-choosing .prices .consulting-button {
    font-size: 14px;
    padding: 10px 20px;
  }
  body main .portfolio .container .portfolio-filter {
    margin: 70px 0;
  }
  body main .portfolio .container .portfolio-filter ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  body main .portfolio .container .portfolio-filter ul li {
    border: none;
    border-radius: 20px;
  }
  body main .portfolio .container .portfolio-filter ul li:first-child {
    border: none;
  }
  body main .interaction .container .interaction-list .interaction-item {
    margin-bottom: 10px;
  }
  body main .interaction .container .interaction-list .interaction-item__image {
    display: none;
  }
  body main .companies-slider .container .slider-window {
    max-width: 460px;
  }
  body main .blog .container .article-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .blog .container .article-list .article {
    margin-bottom: 20px;
  }
  body main .questions {
    background: #363636;
  }
  body main .questions .container .info-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .questions .container .info-form form .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .questions .container .info-form form .inputs .form-input {
    margin-right: 0;
  }
  body main .questions .container .info-contacts p {
    text-align: center;
  }
}

@media (max-width: 501px) {
  body .section-subtitle {
    text-align: center;
  }
  body .header {
    background: #363636;
  }
  body .header .container .header-content .header-form form {
    margin: 0;
    margin-bottom: 30px;
  }
  body main .companies-slider .container .slider-window {
    max-width: 230px;
  }
  body .footer .useful-info .social-links .links-images ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .footer .useful-info .social-links .links-images ul a {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=media-quires.css.map */