$white: #fff;
$black: #000;
$main-color: #19b5fe;
$input-color: #606060;
$text-color: #464646;
$advantages-color: #3f3f3f;
$advantages-bg: #f2f8f9;
$section-color: #363636;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

@media (min-width:576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 90%;
    }

}

body {
    font-family: 'Roboto', sans-serif;
    height: 8090rem;

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

    }

    section {
        padding: 2rem 0;
    }

    .button {
        font-size: 1.143rem;
        background: $main-color;
        border: none;
        color: $white;
        padding: 1rem 3rem;
        border-radius: 35px;
        font-family: 'Roboto Medium';
        cursor: pointer;
    }

    ul {
        list-style: none;
    }

    .section-title {
        font-family: 'Roboto Thin';
        font-size: 2.5rem;
        color: $section-color;
        border-bottom: 1px solid $main-color;
        padding-bottom: 1rem;
        text-align: center;
        width: 25%;
        margin: auto;
        margin-bottom: 3rem;
    }

    .form-input {
        border: none;
        padding: 1rem 7rem 1rem 2rem;
        border-radius: 35px;
        color: $input-color;
        margin-bottom: 1rem;
        font-family: 'Roboto Thin';
        &:nth-child(2) {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    .form-button {
        display: block;
        margin: auto;
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .header {
        background: url(../img/header-bg.jpg) no-repeat center;
        padding: 3rem 0;
        color: $white;

        .container {
            .header-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3rem;

                .header-logo {
                    flex-basis: 70%;
                }

                .header-phone {
                    display: flex;

                    p {
                        font-size: 1.2rem;
                        font-weight: 300;
                        margin-left: 0.5rem;

                        strong {
                            font-weight: 500;
                        }
                    }

                }

                .header-hamburger {
                    width: 40px;
                    height: 20px;
                    position: relative;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    cursor: pointer;

                    .text {
                        margin-top: 1.7rem;
                    }

                    &.open span:nth-child(1) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    &.open span:nth-child(2) {
                        transform: rotate(45deg);
                    }

                    &.open span:nth-child(3) {
                        transform: rotate(-45deg);
                    }

                    &.open span:nth-child(4) {
                        top: 18px;
                        width: 0%;
                        left: 50%;
                    }

                    & span {
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        background: $white;
                        border-radius: 9px;
                        opacity: 1;
                        left: 0;
                        transform: rotate(0deg);
                        transition: .25s ease-in-out;

                        &:nth-child(1) {
                            top: 0px;
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            top: 9px;
                        }

                        &:nth-child(4) {
                            top: 18px;
                        }
                    }

                }
            }

            .header-content {
                text-align: center;

                .header-title {
                    font-size: 3.429rem;
                    margin-bottom: 2rem;
                }

                .header-subtitle {
                    font-size: 1.571rem;
                    font-weight: 300;
                    margin-bottom: 3rem;
                }

                .header-form {
                    form {
                        border: 1px solid $white;
                        margin: 0 15% 3rem;
                    }

                    .form-input {
                        border: none;
                        padding: 1rem 7rem 1rem 2rem;
                        border-radius: 35px;
                        color: $input-color;
                        margin-bottom: 1rem;
                        font-family: 'Roboto Thin';
                        transform: translateY(-50%);

                        &:nth-child(2) {
                            margin-left: 2rem;
                            margin-right: 2rem;
                        }
                    }

                    .form-button {
                        display: block;
                        margin: auto;
                        transform: translateY(50%);
                    }
                }

                .header-policy {
                    font-size: 1rem;
                    font-family: 'Roboto Thin';
                    margin-bottom: 3rem;
                }

                .header-scroll {
                    animation: opacity 3s infinite ease;
                    animation-direction: initial;
                }
            }
        }

        @keyframes opacity {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    main {
        .services {
            color: $text-color;

            .container {
                .services-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .service {
                        display: flex;
                        align-items: center;
                        margin-bottom: 2rem;
                        padding: 0 16%;

                        &-text {
                            text-align: left;
                            margin-right: 2rem;
                            font-size: 1.2rem;

                            h4 {
                                color: $main-color;
                                font-size: 2rem;
                                margin-bottom: 0.5rem;
                            }

                            p {
                                font-weight: 300;
                                margin-bottom: 1rem;
                            }
                        }

                        &:nth-child(2) {
                            .service-text {
                                margin: 0 0 0 2rem;
                            }
                        }
                    }
                }
            }
        }

        .rates {
            background: url(../img/rates/bg.jpg) no-repeat center top;
            color: $white;
            padding: 5rem 0;
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .section-title {
                    color: $white;
                    border-bottom-color: $white;
                    margin-bottom: 1rem;
                }

                .section-subtitle {
                    font-size: 1.6rem;
                    font-weight: 300;
                    margin-bottom: 5rem;
                }

                .price-choosing {
                    display: flex;
                    justify-content: space-between;

                    .calculator {
                        p {
                            font-size: 1.429rem;
                            font-weight: 400;
                            margin-bottom: 2rem;
                        }

                        .area-range,
                        .set-range {
                            border: 1px solid $white;
                            padding: 1rem 2rem;
                            border-radius: 5px;
                        }

                        .area-range {
                            margin-bottom: 1rem;

                            .labels {
                                font-size: 1.143rem;
                                font-weight: 300;
                                margin-bottom: 1rem;
                                display: flex;
                                justify-content: space-between;

                                label {
                                    min-width: 93px;
                                    text-align: right;

                                    &:first-child,
                                    &:last-child {
                                        text-align: unset;
                                    }

                                    &:nth-child(2) {
                                        text-align: unset;
                                    }

                                    &:last-child {
                                        text-align: right;
                                    }
                                }
                            }

                            .area-input {
                                -webkit-appearance: none;
                                width: 43rem;
                                height: 1rem;
                                background: #8f9399;
                                border-radius: 30px;
                                outline: none;
                                transition: opacity .2s;

                                &::-webkit-slider-thumb {
                                    appearance: none;
                                    width: 20px;
                                    height: 20px;
                                    background: $white;
                                    border-radius: 50%;
                                    cursor: pointer;
                                }

                            }
                        }

                        .set-range {
                            &__options {
                                display: flex;
                                justify-content: space-between;

                                .set-button {
                                    padding: 1rem 5rem;
                                    background: transparent;
                                    border: 1px solid $white;
                                    color: $white;
                                    border-radius: 5px;
                                    font-size: 1.143rem;
                                    font-family: 'Roboto Medium';
                                    outline: none;

                                    &__chosen {
                                        border-color: transparent;
                                        background: $main-color;
                                    }
                                }
                            }
                            &__descriptions {
                                display: flex;
                                .description {
                                    background: $white;
                                    color: $text-color;
                                    max-width: 31rem;
                                    transform: translateX(-90px);
                                    p {
                                        font-size: 1rem;
                                        text-align: center;
                                    }
                                    display: none;
                                    &:first-child {
                                        transform: translateX(-90px);
                                    }
                                    &:nth-child(2){
                                        transform: translateX(124px);
                                    }
                                    &:last-child{
                                        transform: translateX(335px);
                                    }
                                }
                            }
                        }
                    }

                    .prices {
                        margin-left: 8rem;
                        text-align: center;

                        div {
                            margin-bottom: 1rem;
                        }

                        p {
                            font-size: 1.143rem;
                        }

                        strong {
                            font-size: 2.286rem;
                        }
                    }
                }
            }
        }

        .portfolio {
            .container {
                .portfolio-filter {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 3rem;

                    ul {
                        display: flex;
                        justify-content: center;
                        border: 1px solid $main-color;
                        border-radius: 40px;
                        max-height: 47px;

                        li {
                            text-transform: uppercase;
                            border-right: 1px solid $main-color;
                            padding: 1rem 3rem;
                            cursor: pointer;
                            color: $main-color;
                            max-height: 45px;

                            &:last-child {
                                border-right: none;
                            }
                        }

                        .active {
                            text-transform: uppercase;
                            border-right: 1px solid $main-color;
                            padding: 1rem 3rem;
                            cursor: pointer;
                            max-height: 45px;
                            background: $main-color;
                            color: $white;

                            &-left {
                                text-transform: uppercase;
                                border-right: 1px solid $main-color;
                                padding: 1rem 3rem;
                                cursor: pointer;
                                max-height: 45px;
                                background: $main-color;
                                color: $white;
                                border-top-left-radius: 20px;
                                border-bottom-left-radius: 20px;
                            }

                            &-right {
                                text-transform: uppercase;
                                border-right: 1px solid $main-color;
                                padding: 1rem 3rem;
                                cursor: pointer;
                                max-height: 45px;
                                background: $main-color;
                                color: $white;
                                border-top-right-radius: 20px;
                                border-bottom-right-radius: 20px;
                            }
                        }
                    }
                }

                .portfolio-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-content: flex-start;

                    &__item {
                        margin: 1rem 3rem;
                        cursor: pointer;
                    }
                }
            }
        }

        .advantages {
            background: $advantages-bg;
            .container {
                .advantages-list {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    .advantage-item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        min-height: 100px;
                        max-width: 360px;
                        margin-bottom: 1rem;
                        .advantage-image {
                            border-bottom: 1px solid $main-color;
                            min-height: 70px;
                        }
                        p {
                            min-height: 34px;
                            text-align: center;
                            margin-top: 1rem;
                            font-size: 1rem;
                            font-weight: 500;
                            color: $advantages-color;
                            padding: 0 1.7rem;
                        }
                    }
                }
            }
        }

        .interaction {
            padding: 5rem 0;
            .container {
                .section-title {
                    width: 26%;
                }
                .interaction-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    max-width: 68%;
                    margin: auto;
                    .interaction-item {
                        display: flex;
                        min-width: 100%;
                        justify-content: center;
                        align-items: center;
                        &__text {
                            font-size: 2.143rem;
                            color: $text-color;
                            font-weight: 300;
                            flex-basis: 50%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .companies-slider {
            background: $advantages-bg;
            .container {
                .section-title {
                    width: 34%;
                }
                .slider {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 3rem;
                    position: relative;
                    left: 0;
                    &-window {
                        min-width: 1700px;
                        overflow: hidden;
                    }
                    &-item {
                        min-width: 252px;
                    }
                }
            }
        }

        .team {
            .container {
                .team-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .team-member {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 2rem 7rem;
                        strong {
                            margin: 1rem 0;
                            font-size: 1.7rem;
                            font-weight: 300;
                            color: $main-color;
                        }
                        p {
                            font-size: 1.3rem;
                            color: $text-color;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .quotation {
            color: $text-color;
            .container {            
                .quote {
                    position: relative;
                    blockquote {
                        text-align: center;
                        font-size: 1.7rem;
                        padding: 0 5rem;
                        .open-quote, .close-quote {
                            position: absolute;
                        }
                        .open-quote {
                            top: 0;
                            left: 0;
                        }
                        .close-quote {
                            bottom: 0;
                            right: 0;
                        }
                        h4 {
                            padding-top: 2rem;  
                            font-weight: 500;
                        }
                        strong {
                            font-weight: 500;
                        }
                        p {
                            font-weight: 300;
                            padding: 0.5rem 0;
                        }
                    }
                }
                
            }
        }

        .blog {
            background: $advantages-bg;
            .container {
                .article-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .article {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.3rem;
                        a {
                            margin-top: 2rem;
                            max-width: 80%;
                            text-align: center;
                            color: $main-color;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .questions {
            color: $white;
            background: url(../img/questions/bg.png) no-repeat;
            min-height: 40rem;
            .container {
                .section-title {
                    color: $white;
                    border-bottom-color: $white;
                    margin-bottom: 2rem;
                }
                .section-subtitle {
                    text-align: center;
                    font-size: 1.7rem;
                    font-weight: 300;
                    margin-bottom: 3rem;
                }
                .info {
                    display: flex;
                    justify-content: center;
                    &-form {
                        .form-input {
                            border-radius: 10px;
                            padding-right: 4rem;
                            &:last-child {
                                display: block;
                                min-width: 100%;
                                padding-bottom: 100px;
                                margin-bottom: 2rem;                              
                            }
                        }
                    }
                    &-contacts {
                        margin-left: 5rem;
                        ul {
                            li {
                                font-size: 1.2rem;
                                font-weight: 500;
                                margin-bottom: 1rem;
                                display: flex;
                                align-items: center;
                                img {
                                    margin-right: 0.5rem;
                                    padding: 0.6rem;
                                    border: 1px solid $white;
                                    border-radius: 3px;
                                }
                            }
                        }
                        p {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}

    

    

    

    

